.calculator {
  max-width: 500px;
  height: 800px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.display {
  height: 160px;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 1.5rem;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  height: 130px;
  background-color: #e0e0e0;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.buttons button:hover {
  background-color: #ccc;
}
